/* Score.css */
.score-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
  
  .title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 0%; 
  }
  
  .score {
    margin-top: 0%;
  }
  
  .progress {
    margin-top: 0%;
    width: 50%; 
  }
  